<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />
  <title>Fashion Spray</title>
  <!-- Initialize Northstar -->
  <script>
    digitalData = {
      page: {
        pageInfo: {
          ibm: {}
        }
      }
    };
  </script>
  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <script src="./js/common.js"></script>  
  <script src="./js/request.js"></script>
  <script src="./js/constant.js"></script>
  <link href="./css/styles.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
  

  <!-- Configurable Northstar options -->
  <script type="text/javascript">
    IBMCore.common.util.config.set({
      footer: {
        type: "alternate",
        socialLinks: {
          enabled: false
        }
      },
      masthead: {
        type: "alternate"
      }
    });
  </script>
</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <div id="ibm-masthead" role="banner" aria-label="IBM">
      <div id="ibm-mast-options">
        <ul role="toolbar" aria-labelledby="ibm-masthead">
          <li id="ibm-geo" role="presentation">
            <a href="https://www.ibm.com/planetwide/select/selector.html">United States</a>
          </li>
        </ul>
      </div>
      <div id="ibm-universal-nav" class="universalNavLeft">        
        <div class="ibm-parent-site-name">
          <div class="dr-masthead-divider"></div><a class="dr-home ibm-type-d ibm-mb-0" href="/">Fashion Spray</a>
        </div>
      </div>
    </div>
    <div id="ibm-content-wrapper">

      <div class="ibm-fluid">
        <div class="ibm-col-12-12 page-select">
          <div class=" ibm-col-12-6">

            <div><span class="ibm-padding-top-1 ibm-bold" style="padding-left: 60px;float:left;">Order Analysis</span></div>
            <div><span class="ibm-chevron-right-light-link ibm-textcolor-gray-30"
                style="position: relative;padding-left: 30px;padding-top: 17px;float:left"></span></div>
            <div class="ibm-padding-top-1 ibm-textcolor-gray-30" style="float:left"><span>Total count of each order</span></div>
          </div>

          <div class="ibm-right ibm-col-12-6 ibm-padding-top-1"><span class="ibm-textcolor-gray-30">Move cursor to circle to view count.</span>              
          </div>
        </div>
      </div>

        <div class=" ibm-col-12-12" style="padding-left:80px;">
            <!-- <div class=" ibm-col-12-6">
            <canvas id="bar-chart" width="400" height="250"></canvas>
            </div> -->

            <div class=" ibm-col-12-3">
            </div>
            <div class=" ibm-col-12-6">
                <canvas id="doughnut-chart" width="400" height="250"></canvas>
                </div>
                <div class=" ibm-col-12-3">
                 </div>
        </div>

        <!-- <div class=" ibm-col-12-12" style="padding-left:80px;">
          
          <div class=" ibm-col-12-6">
              <canvas id="pie-chart" width="400" height="250"></canvas>
              </div>
      </div> -->

        <div class=" ibm-col-12-12 ibm-padding-top-1" style="padding-left:70px;padding-right:30px;">
          <div class="ibm-rule ibm-alternate ibm-gray-30">
            <hr>
          </div>
        </div>
        

      

    </div>


    <!-- FOOTER_BEGIN -->
    <footer role="contentinfo" aria-label="IBM">

    </footer>
    <!-- FOOTER_END -->
  </div>

</body>
<script src="./js/analysis.js"></script>

</html>
