<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />
  <title>Fashion Spray</title>
  <!-- Initialize Northstar -->
  <script>
    digitalData = {
      page: {
        pageInfo: {
          ibm: {}
        }
      }
    };
  </script>
  <script src="./js/ida_stats.js"></script>
  <link href="./css/wwwv18.css" rel="stylesheet" />
  <link href="./css/wwwv19a.css" rel="stylesheet" />
  <script src="./js/wwwv18.js"></script>
  <script src="./js/wwwv19a.js"></script>
  <link href="./css/forms.css" rel="stylesheet">
  <script src="./js/forms.js"></script>
  <link href="./css/grid-fluid.css" rel="stylesheet" />
  <link href="./css/v18tables.css" rel="stylesheet">
  <script src="./js/v18tables.js"></script>
  <script src="./js/orderList.js"></script>
  <link href="./css/styles.css" rel="stylesheet">
  <script src="./js/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>

</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <div class="ibm-col-12-12 headerFirst">
      <div style="padding-top:10px;padding-left:40px;">
        <h2><span style="font-size:30px;font-weight: bold;">Fashion Spray</span></h2>
      </div>

    </div>
    <div class="ibm-col-12-12 headerSecond" style="padding:10px;">
      <div class="ibm-col-12-6">
        <span class="ibm-bold ibm-textcolor-green-50 ibm-h4" style="padding-left: 30px;float:left;">Order
          analysis.</span>
      </div>
      <div class="ibm-col-12-3">

      </div>
      <div class="ibm-col-12-3">
        <div><button onclick="location.href = '/dashboard';" class="createOrder ibm-btn-small" style="width: 150px;">Go
            to dashboard
          </button></div>
      </div>
    </div>
    <div id="ibm-content-wrapper">

      <div class=" ibm-col-12-12">

        <div class=" ibm-text-tabs" id="tabs">
          <ul id="usecases" role="tablist" class="ibm-tabs" aria-label="Tab navigation">

            <li role="presentation" id="orderByGender"><a role="tab" id="orderByGenderAnchor" href="#"
                aria-selected=true style="color:blue;">Orders by gender</a></li>
            <li role="presentation" id="monthlyOrder"><a role="tab" id="monthlyOrderAnchor" href="#">Monthly order</a>
            </li>
            <li role="presentation" id="weeklyOrder"><a role="tab" id="weeklyOrderAnchor" href="#">Weekly order</a>
            </li>
          </ul>
        </div>'
      </div>

      <div id="genderChart" class=" ibm-col-12-12">
        <div id="genderChart" class=" ibm-col-12-6">
          <canvas id="doughnut-chart" width="400" height="250"></canvas>
        </div>
      </div>
      <div id="monthlyChart" class=" ibm-col-12-12 display-none">
        <div class=" ibm-col-12-6">
          <canvas id="bar-chart" width="50" height="40"></canvas>
        </div>
      </div>

      <div id="weeklyChart" class=" ibm-col-12-12 display-none">
        <div class=" ibm-col-12-6">
          <canvas id="weekly-bar-chart" width="50" height="40"></canvas>
        </div>
      </div>

      <div class=" ibm-col-12-12 ibm-padding-top-1" style="padding-left:70px;padding-right:30px;">
        <div class="ibm-rule ibm-alternate ibm-gray-30">
          <hr>
        </div>
      </div>
    </div>


    <!-- FOOTER_BEGIN -->
    <footer role="contentinfo" aria-label="IBM">

    </footer>
    <!-- FOOTER_END -->
  </div>

</body>
<script src="./js/analysis.js"></script>

</html>