<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <title>Fashion Spray</title>
    <script src="./js/ida_stats.js"></script>
    <link href="./css/wwwv18.css" rel="stylesheet" />
    <link href="./css/wwwv19a.css" rel="stylesheet" />
    <script src="./js/wwwv18.js"></script>
    <script src="./js/wwwv19a.js"></script>
    <link href="./css/forms.css" rel="stylesheet" />
    <script src="./js/forms.js"></script>
    <link href="./css/grid-fluid.css" rel="stylesheet" />
    <script src="./js/common.js"></script>
    <script src="./js/editFabrics.js"></script>
    <link href="./css/styles.css" rel="stylesheet" />
</head>

<body id="ibm-com" class="ibm-type">
    <div id="ibm-top" class="ibm-landing-page">
        <div class="ibm-col-12-12 headerFirst">
            <div style="padding-top: 10px">
                <h2>
                    <span style="font-size: 30px; font-weight: bold">Fashion Spray</span>
                </h2>
            </div>
        </div>

        <div class="ibm-col-12-12 headerSecond" style="padding: 10px">
            <div class="ibm-col-12-6">
                <span class="ibm-bold" style="float: left">Fabrics Details : Edit Mode</span>
            </div>
             <div class="ibm-col-12-3">
                <div>
                    <button onclick="location.href = '/orderlistforfabrics';" class="createOrder ibm-btn-small"
                        style="width: 150px">
                        Fabrics
                    </button>
                </div>
            </div>
            <div class="ibm-col-12-3">
                <div>
                    <button onclick="location.href = '/dashboard';" class="createOrder ibm-btn-small"
                        style="width: 150px">
                        Go to dashboard
                    </button>
                </div>
            </div>
        </div>

        <div id="ibm-content-wrapper">
            <form id="landingPageForm" class="ibm-row-form" action="javascript:void(0);">

                <div class="ibm-col-12-12 fieldPaddingTop">
                    <div class="ibm-col-12-6 fieldPaddingTop">
                        <div class="ibm-textcolor-grey-60 ibm-padding-top-1"><span class="ibm-bold">Customer Name :
                            </span>
                            <span id="customerName"></span>
                        </div>
                        <div class="ibm-textcolor-grey-60 ibm-padding-top-1"><span class="ibm-bold">Mobile Number :
                            </span>
                            <span id="mobileNumber"></span>
                        </div>
                        <div class="ibm-textcolor-grey-60 ibm-padding-top-1"><span class="ibm-bold">Order Number :
                            </span>
                            <span id="orderNumber"></span>
                        </div>
                        <div class="ibm-textcolor-grey-60 ibm-padding-top-1"><span class="ibm-bold">Dress :
                            </span>
                            <span id="dress"></span>
                        </div>
                    </div>

                    <div class="ibm-col-12-6 fieldPaddingTop">
                        <div class="ibm-textcolor-grey-60 ibm-padding-top-1"><span class="ibm-bold">Order Date :
                            </span>
                            <span id="orderDate"></span>
                        </div>
                        <div class="ibm-textcolor-grey-60 ibm-padding-top-1"><span class="ibm-bold">Delivery Date :
                            </span>
                            <span id="deliveryDate"></span>
                        </div>
                        <div class="ibm-textcolor-grey-60 ibm-padding-top-1"><span class="ibm-bold">Details :
                            </span>
                            <span id="orderNote"></span>
                        </div>
                    </div>
                </div>

                <div class="ibm-col-12-12 fieldPaddingTop">
                    <div class="ibm-rule ibm-alternate ibm-gray-30">
                        <hr>
                    </div>
                </div>
                <div class="ibm-col-12-12" id="addFabrics">
                    <div class="ibm-col-12-8 ibm-padding-top-1">

                    </div>

                    <div class="ibm-col-12-4">
                        <button id="Add" type="button" class="ibm-btn-sec ibm-btn-green-50 ibm-btn-small">Add
                            fabric</button>


                        <button type="button" id="Remove" class="ibm-btn-sec ibm-btn-red-50 ibm-btn-small">Remove
                            fabric</button>

                    </div>
                </div>
                <div id="textboxDiv">
                </div>
                <div class="ibm-col-12-12 fieldPaddingTop ibm-padding-top-1">
                    <div class="ibm-rule ibm-alternate ibm-gray-30">
                        <hr>
                    </div>
                </div>
                <div class="ibm-fluid">
                    <div class="ibm-col-12-12 ibm-padding-top-1" align="right">
                        <p class="ibm-btn-row ibm-button-link" style="padding-right: 5px">
                            <button class="buttonCancel cancelHover"
                                onclick="window.open('/orderlistforfabrics','_self');">
                                Cancel
                            </button>
                            <button id="saveOrderId" class="saveOrder" style="width: 130px" onclick="saveOrder()">
                                Save
                            </button>
                            <span id="loadingIndicator" class="ibm-spinner ibm-h2 visibility-hidden"></span>
                        </p>
                    </div>
                </div>
            </form>

            <div class="ibm-common-overlay" data-widget="overlay" id="confirmationOverlay">
                <p id="overlayMsg"></p>
                <a href="/orderlistforfabrics" id="overlayOk" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit"
                    onclick="IBMCore.common.widget.overlay.hide('overlayOk',true);">Ok</a>
            </div>

            <div class="ibm-common-overlay" data-widget="overlay" id="errorOverlay">
                <p id="errorOverlayMsg"></p>
                <a href="javascript:;" id="overlayError" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit"
                    onclick="IBMCore.common.widget.overlay.hide('overlayError',true);">Ok</a>
            </div>
        </div>
        <div class="ibm-common-overlay" data-widget="overlay" id="confirmationOverlay">
            <p id="overlayMsg"></p>
            <a href="javascript:;" id="overlayOk" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit"
                onclick="IBMCore.common.widget.overlay.hide('overlayOk',true);">Ok</a>
        </div>

        <!-- FOOTER_BEGIN -->
        <footer role="contentinfo" aria-label="IBM"></footer>
        <!-- FOOTER_END -->
    </div>
</body>

</html>