<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />
  <title>Show Case Editor</title>
  <!-- Initialize Northstar -->
  <script>
    digitalData = { page: { pageInfo: { ibm: {} } } };
  </script>
  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="//1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <script src="./js/common.js"></script>
  <script src="./js/landingPage.js"></script>  
  <script src="./js/request.js"></script>  
  <link href="./css/styles.css" rel="stylesheet">
  <!-- Configurable Northstar options -->
  <script type="text/javascript">
    IBMCore.common.util.config.set({
      footer: {
        type: "alternate",
        socialLinks: {
          enabled: false
        }
      },
      masthead: {
        type: "popup"
      }
    });
  </script>
</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <div id="ibm-masthead" role="banner" aria-label="IBM">
      <div id="ibm-mast-options">
        <ul role="toolbar" aria-labelledby="ibm-masthead">
          <li id="ibm-geo" role="presentation">
            <a href="https://www.ibm.com/planetwide/select/selector.html">United States</a>
          </li>
        </ul>
      </div>
      <div id="ibm-universal-nav">
        <div id="ibm-home"><a href="https://www.ibm.com/us-en/">IBM®</a>
        </div>
        <div class="ibm-parent-site-name">
          <div class="dr-masthead-divider"></div><a class="dr-home ibm-type-d ibm-mb-0" href="/">Showcase Editor</a>
        </div>
        <!-- PARENT SITE NAME -->

        <ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
          <li><a href="https://www.ibm.com/sitemap/us/en/">Site map</a></li>
        </ul>
        <div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
          <form id="ibm-search-form" action="https://www.ibm.com/Search/" method="get">
            <p>
              <label for="q"><span class="ibm-access">Search</span></label><input type="text" maxlength="100" value=""
                name="q" id="q" /><input type="hidden" value="17" name="v" /><input type="hidden" value="utf"
                name="en" /><input type="hidden" value="en" name="lang" /><input type="hidden" value="us"
                name="cc" /><input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit" />
            </p>
          </form>
        </div>
      </div>
    </div>
    <div id="ibm-content-wrapper">
      <div class="ibm-fluid">
        <div class="ibm-col-12-12 heading">
          <p class="header-padding">Landing page</p>
        </div>
      </div>

      <div class="ibm-fluid">
        <div class=" ibm-col-12-6">

          <div class=" ibm-col-12-6">
            <span class="ibm-input-group ibm-radio-group">
              <input id="useCaseMulti" name="useCaseSelect" type="radio" checked value="multi"
                onclick="mutipleUseCase();" /> <label for="useCaseMulti">Multiple Usecases with welcome
                page</label>
          </div>

          <div class=" ibm-col-12-6">
            <input id="useCaseSingle" name="useCaseSelect" type="radio" value="single" onclick="singleUseCase();" />
            <label for="useCaseSingle">Single Usecase</label>
            </span>
          </div>
        </div>
      </div>

      <div class="ibm-fluid">

        <div class="ibm-col-12-12 page-select">
          <nav role="navigation" aria-label="Breadcrumb">
            <ul class="ibm-padding-top-1 ibm-padding-bottom-1" id="ibm-navigation-trail" itemscope=""
              itemtype="//schema.org/BreadcrumbList">
              <li itemprop="itemListElement" itemscope="" itemtype="//schema.org/ListItem"><a itemprop="item"
                  href="javascript:;"><span itemprop="name"><b>Main Page Details</b></span></a>
                <meta itemprop="position" content="1">
              </li>
              <span id="landingPageLoadingTxt">Landing page details loading...</span><span id="landingPageLoadingIndicator" class="ibm-spinner ibm-h3"></span>
            </ul>
          </nav>
        </div>
      </div>
      <form id="landingPageForm" class="ibm-row-form" method="post" action="/useCases"
        onsubmit="return landingPageFormVal()">
        <div class="ibm-columns">
          <div class="ibm-col-12-6">
            <p>
              <label for="orgId" class="ibm-textcolor-green-60">Organization Id<span
                  class="ibm-required">*</span></label>
              <span>
                <input type="email" size="50" id="orgId" name="orgId" value="" required>
              </span>
              <span class="ibm-item-note ibm-alert-link " style="display:none;" id='orIdError'></span>
            <p>
            </p>
            <p class="ibm-form-elem-grp">
              <label for="pId" class="ibm-textcolor-green-60"> Product Id<span class="ibm-required">*</span></label>
              <span>
                <input type="text" value="" size="50" id="pId" name="pId" disabled>
              </span>
            </p>
            <p class="ibm-form-elem-grp">
              <label for="userId" class="ibm-textcolor-green-60">User Id<span class="ibm-required">*</span></label>
              <span>
                <input type="text" size="50" id="userId" name="userId" value="" required>
              </span>
              <span class="ibm-item-note ibm-alert-link " style="display:none;" id='userIdError'></span>
            </p>
            <p class="ibm-form-elem-grp">
              <label for="pDemoName" class="ibm-textcolor-green-60">Product Demo name<span
                  class="ibm-required">*</span></label>
              <span>
                <input type="text" size="70" id="pDemoName" name="pDemoName" value="" required>
              </span>
            </p>
            <p class="ibm-form-elem-grp">
              <label for="pNameMUrl" class="ibm-textcolor-green-60">Product Marketplace URL<span
                  class="ibm-required">*</span></label>
              <span>
                <input type="text" size="70" id="pNameMUrl" name="pNameMUrl" value="" required>
              </span>
              <span class="ibm-item-note ibm-alert-link " style="display:none;" id='pNameMUrlError'></span>
            </p>
            <p class="ibm-form-elem-grp display-none" id="singleUseCase">
              <label id="mainTitle" for="singleUseCaseTitle" class="ibm-textcolor-green-60">UseCaseTitle<span
                  class="ibm-required">*</span></label>
              <span>
                <input type="text" size="70" id="singleUseCaseTitle" name="singleUseCaseTitle" value="" required>
              </span>
              <span class="ibm-item-note ibm-alert-link " style="display:none;" id='singleUseCaseTitleError'></span>
            </p>
            <div>
              <p class="ibm-form-elem-grp display-none" id="singleUseCaseScene">

                <label class="ibm-textcolor-green-60">Select Scenes:<span class="ibm-required">*</span></label>
                
                <span>
                  <select id="singleUseCaseSceneSelect" style="width:50px;">
                    <option value="1"> 1 </option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>

                  </select>
                </span>
              </p>
            </div>
            <p class="ibm-form-elem-grp">
              <label for="cpml" class="ibm-textcolor-green-60">Configure Product Marketing links
                <a class="ibm-information-link" style="position: relative; font-size:1.0em; left:5px;" href="#"
                  onclick="alert('Image size : ');return false;" title="Information link"></a>
              </label>
            </p>

            <div class="ibm-col-12-6">
              <p>
                <label for="cta1" class="ibm-textcolor-green-60">CTA 1<span class="ibm-required">*</span></label>
                <span>
                  <input type="text" value="" size="30" id="cta1" placeholder="Enter CTA name" name="cta1" />
                </span>
              </p>
              <p class="ibm-form-elem-grp">
                <label for="cta2" class="ibm-textcolor-green-60">CTA 2<span class="ibm-required">*</span></label>
                <span>
                  <input type="text" value="" size="30" id="cta2" placeholder="Enter CTA name" name="cta1">
                </span>
              </p>
            </div>
            <div class="ibm-col-12-6">
              <p>
                <label for="url1" class="ibm-textcolor-green-60">URL<span class="ibm-required">*</span>
                  <span class="redColorTxt " style="display:none;" id='url1Error'></span>
                </label>
                <span>
                  <input type="text" value="" size="30" id="url1" placeholder="Enter URL" name="url1">
                </span>
              </p>
              <p class="ibm-form-elem-grp">
                <label for="url2" class="ibm-textcolor-green-60">URL<span class="ibm-required">*</span>
                  <span class="redColorTxt " style="display:none;" id='url2Error'></span></label>
                <span>
                  <input type="text" value="" size="30" id="url2" placeholder="Enter URL" name="url2">
                </span>
              </p>
            </div>
            <div class='ibm-col-12-6'>
              <p class="ibm-form-elem-grp" id='useCaseSelectP'>
                <label class="ibm-textcolor-green-60">Select UseCases:</label>
                <span>
                  <select id="useCaseSelectSection" onchange='newCard(this);'>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </span>
              </p>
            </div>

          </div>


          <div class="ibm-col-12-6" id="mainBImageDiv">
            <label for="mainBImage" class="ibm-textcolor-green-60">Background Image<span class="ibm-required">*
              </span> <span><a class="ibm-information-link" style="position: relative; font-size:1.0em; left:5px;"
                  href="#" onclick="alert('Image size : 300Kb and dimention :1584px x 930px');return false;"
                  title="Information link"></a> </span>
            </label>
            <span>
              <input id="mainBImage" type="file" data-multiple="false" onchange="removeError('backImage'); processImage(this)" accept="image/*" style="display:none;" /><label for="mainBImage" class="btn">Browse</label>
            </span>
            <span class="redColorTxt display-none" id="backImage"> No Image selected</span>
            <p>
            <span>
              <img src="" id="mainBImageb64" style='width:200px;height:200px; padding-top: 10px;'/>
            </span>
          </p>
            
          </div>
        </div>
        <div id='useCases'></div>

        <div class="ibm-fluid">
          <div class="ibm-col-12-12 footer" align="right">
            <p class="ibm-btn-row ibm-button-link">
              <a href="#" class="ibm-btn-sec ibm-btn-transparent ibm-btn-blue-50" style="margin:10px;"
                onclick="formReset()">Cancel</a>
              <a href="#" class="ibm-btn-pri ibm-btn-blue-50" type="submit" style="margin:10px;"
                onclick="validateLanding()">Next - Add
                Usecase Details ></a>
            </p>
          </div>
        </div>


        <!-- Overlay -->
        <div class="ibm-common-overlay ibm-overlay-alt-two" data-widget="overlay" data-type="alert"
          id="overlayExampleAlert">

          <!-- <form id="overlay" class="ibm-row-form" method="post" action="__REPLACE_ME__"> -->
          <form id="overlayForm" class="ibm-row-form">
            <div class="ibm-columns ">
              <div class="ibm-col-12-12 ">
                <p id="overlayTitle" class="ibm-textcolor-green-60 ibm-bold">UseCase</p>
                <p class="ibm-form-elem-grp">
                  <label for="uc-title">Use case title<span class="ibm-required">*</span><span
                      class="ibm-textcolor-gray-40 ibm-small"> max 30 characters</span></label></br>
                  <span>
                    <input type="text" value="" size="40" id="uc-title" name="uc-title">
                  </span>
                <div class="redColorTxt display-none" id='useCaseTitleError'></div>
                </p>
                <p class="ibm-form-elem-grp">
                  <label for="uc-desc">Use case description<span class="ibm-required">*</span><span
                      class="ibm-textcolor-gray-40 ibm-small"> max 125 characters</span></label></br>
                  <span>
                    <textarea rows="4" cols="40" value="" size="40" id="uc-desc" name="uc-desc"></textarea>
                  </span>
                <div class="redColorTxt" class="display-none" id='useCaseDescError'></div>
                </p>
                <p class="ibm-form-elem-grp" >
                  <label>No of scene(s)<span class="ibm-required">*</span></label></br>
                  <span id='overlaySceneP'>
                    
                  </span>
                <div class="redColorTxt display-none" id="overlaySelerror"> No scene selected</div>
                </p>
                <p class="ibm-form-elem-grp" id='overLayImaP'>
                  <label for="overlayImage" >Use case image<span class="ibm-required">*</span></a></label>
                  <p>
                  <span>
                    <input id="overlayImage" type="file" data-multiple="false" onchange="removeError('overLayImageError');" accept="image/*" style="display:none;" /><label for="overlayImage" class="btn">Browse</label> <span style="margin-left:10px" id="overlayImgNm"></span>
                  </span>
                </p>
                  <span class="redColorTxt display-none" id="overLayImageError"> No File selected</span>
                </p>
              </div>
          </form>
        </div>

        <div class="ibm-fluid">
          <div class="ibm-col-12-12">
            <p class="ibm-btn-row"><button id="overlaySave" class="ibm-btn-pri ibm-btn-blue-50" style="float:right;"
                onclick="prepareUseCase()">Save</button> <button id ='overLayCancel'class="ibm-btn-sec ibm-btn-transparent ibm-btn-blue-50"
                style="float:right" ;
                onclick="IBMCore.common.widget.overlay.hide('overlayExampleAlert',true);">Cancel</button></p>
          </div>


        </div>

      </form>

    </div>
  </div>
  <!-- FOOTER_BEGIN -->
  <footer role="contentinfo" aria-label="IBM">
    <div id="ibm-footer">
      <h2 class="ibm-access">Footer links</h2>
      <ul>
        <li><a href="https://www.ibm.com/contact/us/en/">Contact</a></li>
        <li><a href="https://www.ibm.com/privacy/us/en/">Privacy</a></li>
        <li><a href="https://www.ibm.com/legal/us/en/">Terms of use</a></li>
        <li>
          <a href="https://www.ibm.com/accessibility/us/en/">Accessibility</a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- FOOTER_END -->
  </div>

</body>

</html>