<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />
  <title>IBM QwikDemo Editor</title>
  <!-- Initialize Northstar -->
  <script>
    digitalData = { page: { pageInfo: { ibm: {} } } };
  </script>
  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="//1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <link href="./css/styles.css" rel="stylesheet">
</head>

<body class="bodyGradient ibm-type">
  <div class="ibm-col-12-12">
    <div class="ibm-col-12-6 ibm-center ibm-padding-top-3">
      <img src="/images/showcase-editor.png" alt="showcase-editor-image" class="image-size ibm-padding-top-2" />
    </div>
    <div class=" ibm-col-12-6 ibm-padding-top-3 padding-left">
      <div class="ibm-padding-top-3"><img src="/images/editor.png" alt="showcase-editor-image"
          class="login-image" /><span class="ibm-light text-size-color"> IBM </span><span
          class="ibm-bold text-size-color">QwikDemo Editor</span>
      </div>
      <div class="ibm-left ibm-bold ibm-padding-top-3 welcome-text">Welcome to IBM QwikDemo Editor</div>
      <div class="ibm-left login-content-text ibm-padding-top-1">Content management and governance system that
        allows user to</div>
      <div class="ibm-left login-content-text">create, review and publish Qwikdemos.</div>
      <div class="ibm-padding-top-3">
        <button type="button" class=" ibm-btn-pri loginButton" style="background-color:#0f62fe;"
          onclick="location.href='<%= ssoLogin %>';">Sign in</button>
      </div>
      <div class="ibm-padding-top-1"><span class="ibm-textcolor-red-50 ibm-bold"><%= displayMessage %></span></div>
    </div>
  </div>
</body>

</html>