<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />  
  <title>Fashion Spray</title>  

  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <script src="./js/common.js"></script>
  <script src="./js/order.js"></script>
  <script src="./js/request.js"></script>
  <script src="./js/constant.js"></script>
  <link href="./css/styles.css" rel="stylesheet">

</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
       
    <div class="ibm-col-12-12 headerFirst">
        <div class=" ibm-col-12-1" style="padding-top:10px;padding-left:70px;">
            <div>
                <img src="./images/WATER_MARK-05.png" alt="Italian Trulli" width="60" height="50">
            </div>
          </div>

        <div class=" ibm-col-12-6" style="padding-top:20px;">
    <div>
      <h2><span style="padding-left:10px;font-size:30px;font-weight: bold;">Fashion Spray</span></h2>
    </div>
  </div>
  <div class=" ibm-col-12-5" style="padding-top:20px;text-align: right;">
      <div>
        <h2><span style="text-align:right;">You Dream, We Design</span></h2>
      </div>
    </div>
</div>

<div class="ibm-col-12-12 headerSecond" style="padding-top:10px;">
    <div class=" ibm-col-12-6">
        <div><span class="ibm-bold" style="padding-left: 70px;float:left;">Order Details : </span></div>
      </div>

<div class=" ibm-col-12-6" style="text-align: right;">
  <div>
    <h2><span style="text-align:right;" class="ibm-textcolor-gray-30">Please fill proper
        details</span></h2>
  </div>
</div>
</div>

    
    <div id="ibm-content-wrapper">


      <form id="landingPageForm" class="ibm-row-form" action="javascript:void(0);">

        <div class=" ibm-col-12-12" style="padding-left:80px;">
          <div class=" ibm-col-12-5">


            <p class="ibm-form-elem-grp">
              <div for="customerName" class="ibm-textcolor-green-60 tooltip">Customer Name
                <span class="tooltiptext">Name of the customer who gave order</span>
                <span class="ibm-required">*</span>
              </div>
              <div class="fieldPaddingTop">
                <input type="text" value="" class="textFieldWidth" id="customerName" name="customerName" maxlength="50"
                  placeholder="Enter customer full name.">
              </div>
              <span class=" validationFontSize display-none" id='offerNameError'>Offering
                Name is required</span>
            </p>

            <div class="fieldPaddingTop">
              <div style="width:180px;display: inline-block;">
                <div for="dressFor" class="ibm-textcolor-green-60 tooltip">Dress For
                  <span class="tooltiptext">Type of person to whom this dress getting ready</span>
                </div><span class="ibm-required"> *</span>
                <div class="fieldPaddingTop">
                  <select name="dressFor" id="dressFor">
                    <option selected value>Select Person Type</option>
                    <option value="women">Women</option>
                    <option value="kids">Kids</option>
                    <option value="men">Men</option>
                  </select>
                </div>
              </div>
              <div style="display: inline-block;margin-left:38px;" id="dressTypeKids">
                <div for="uc-title" class="ibm-textcolor-green-60 tooltip">Dress Type
                  <span class="tooltiptext">Type of dress selected by customer</span>
                </div><span class="ibm-required"> *</span>

                <div class="fieldPaddingTop">
                  <select name="dressTypeSelect" id="dressTypeSelect" disabled>
                    <option selected value disabled>Select Dress Type</option>
                  </select>
                </div>
              </div>
            </div>

            
              <div style="display: inline-block;">
                <div for="totalAmount" class="ibm-textcolor-green-60 tooltip">Total Amount
                  <span class="tooltiptext">Total amount for selected dress</span>
                  <span class="ibm-required">
                    *</span>
                </div>
                <div class="fieldPaddingTop">
                  <input type="text" class="fieldWidthSmall" id="totalAmount" name="totalAmount" value=""
                    placeholder="Enter total amount.">
                </div>
                <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                  required</span>
              </div>

              <div style="display: inline-block;margin-left:38px;">
                <div for="advanceAmount" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Advance Paid
                  <span class="tooltiptext">Total advance paid by customer</span>
                  <span class="ibm-required">
                    *</span>
                </div>
                <div class="fieldPaddingTop">
                  <input type="text" class="fieldWidthSmall" id="advanceAmount" name="advanceAmount" value=""
                    placeholder="Enter advance paid.">
                </div>
                <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                  required</span>
              </div>

              <div style="display: inline-block;">
                <div for="modeOfPayment" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Mode of payment
                  <span class="tooltiptext">In which mode customer paid the amount</span>
                  <span class="ibm-required">
                    *</span>
                </div>
                <div class="fieldPaddingTop">
                  <input type="text" class="fieldWidthSmall" id="modeOfPayment" name="modeOfPayment" value=""
                    placeholder="Enter payment type">
                </div>
                <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                  required</span>
              </div>

              <div style="display: inline-block;margin-left:38px;">
                <div for="fabricsFrom" class="ibm-textcolor-green-60 tooltip">Fabrics from
                  <span class="tooltiptext">Who is going to provide fabrics?</span>
                </div><span class="ibm-required"> *</span>
                <div class="fieldPaddingTop" style="width:200px">
                  <select name="fabricsFrom" id="fabricsFrom">
                    <option selected value>Select Dress Source</option>
                    <option value="fs">Fashion Spray</option>
                    <option value="customer">Customer Fabrics</option>
                  </select>
                </div>
              </div>


              <div style="display: inline-block;">
                <div for="deliveryDate" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Delivery Date
                  <span class="tooltiptext">The date customer wants to deliver the dress.</span>
                  <span class="ibm-required">
                    *</span>
                </div>
                <div class="fieldPaddingTop">
                  <input type="text" value="" class="fieldWidthSmall" id="deliveryDate" name="deliveryDate"
                    spellcheck="true" placeholder="Choose delivery date" data-widget="datepicker"
                    data-format="mmm dd, yyyy">
                </div>
                <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                  required</span>
              </div>

              <div style="display: inline-block;margin-left:38px;" id="dressTypeKids">
                <div for="fabricsFrom" class="ibm-textcolor-green-60 tooltip">Delivery time
                  <span class="tooltiptext">Time of the day in which product going to deliver.</span>
                </div><span class="ibm-required"> *</span>
                <div class="fieldPaddingTop" style="width:200px">
                  <select name="deliveryTime" id="deliveryTime">
                    <option selected value>Select Time Range</option>
                    <option value="10.30-11.30">10.30 - 11.30AM</option>
                    <option value="11.30-12.30">11.30 - 12.30PM</option>
                    <option value="12.30-01.30">12.30 - 01.30PM</option>
                    <option value="01.30-02.30">01.30 - 02.30PM</option>
                    <option value="02.30-03.30">02.30 - 03.30PM</option>
                    <option value="03.30-04.30">03.30 - 04.30PM</option>
                    <option value="04.30-05.30">04.30 - 05.30PM</option>
                  </select>
                </div>
              </div>


        
        

          




          </div>
          <div class=" ibm-col-12-5">
            <p class="ibm-form-elem-grp">

              <div for="orderNumber" class="ibm-textcolor-green-60 ibm-padding-top-0 tooltip">Order Number
                <span class="tooltiptext">Order number for the product.</span><span class="ibm-required">
                  *</span>
              </div>
              <div class="fieldPaddingTop">
                <input type="text" class="textFieldWidth" value="" id="orderNumber" name="orderNumber" maxlength="50"                  >
              </div>
              <span class="validationFontSize display-none" id='helpTextError'>Help Text is required</span>


              <div for="mobileNumber" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Mobile Number
                <span class="tooltiptext">Customer 10 digit mobile number</span><span class="ibm-required">
                  *</span>
              </div>
              <div class="fieldPaddingTop">
                <input type="text" class="textFieldWidth" value="" id="mobileNumber" name="mobileNumber" maxlength="50"
                  placeholder="Enter customer mobile number">
              </div>
              <span class="validationFontSize display-none" id='helpTextError'>Help Text is required</span>

              <div for="customerLocation" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Location of customer
                <span class="tooltiptext">From where customer came to our shop</span><span class="ibm-required">
                  *</span>
              </div>
              <div class="fieldPaddingTop">
                <input type="text" value="" class="textFieldWidth" id="customerLocation" name="customerLocation"
                  maxlength="50" placeholder="Enter customer location">
              </div>
              <span class="validationFontSize display-none" id='helpTextError'>Help Text is required</span>

              <div for="customerSource" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Customer source
                <span class="tooltiptext">How customer came to know about our shop</span><span class="ibm-required">
                  *</span>
              </div>
              <div class="fieldPaddingTop">
                <input type="text" value="" id="customerSource" name="customerSource" maxlength="50" spellcheck="true"
                  class="textFieldWidth" placeholder="Enter source of customer">
              </div>
              <span class="validationFontSize display-none" id='helpTextError'>Help Text is required</span>
            </p>

          </div>
        </div>

        <div class=" ibm-col-12-12 ibm-padding-top-1" style="padding-left:70px;padding-right:30px;">
          <div class="ibm-rule ibm-alternate ibm-gray-30">
            <hr>
          </div>
        </div>


        <div class="ibm-fluid">
          <div class="ibm-col-12-12" align="right">
            <p class="ibm-btn-row ibm-button-link">
              <button class="buttonCancel cancelHover" onclick="window.open('/','_self');">Cancel</button>
              <button class="buttonusecaseGeneral" style="width: 150px;" onclick="saveOrder()">Save</button>
              <span id="loadingIndicator" class="ibm-spinner ibm-h2 display-none"></span>
            </p>
          </div>
        </div>
      </form>

      <!-- Overlay -->
      <div class="ibm-common-overlay ibm-overlay-alt-two" data-widget="overlay" data-type="alert" id="usecaseOverLay">

        <!-- <form id="overlay" class="ibm-row-form" method="post" action="__REPLACE_ME__"> -->
        <form id="overlayForm" class="ibm-row-form">
          <div class="ibm-columns ">
            <div class="ibm-col-12-12 ">
              <h1 class="ibm-bold ibm-h4 ibm-textcolor-green-60">Usecase <span id="tileNo"></span><span
                  class="usecaseTileNo"></span></h1>

              <div for="uc-title" class="ibm-textcolor-green-60 overlayTooltip">Usecase title
                <span class="overlayTooltiptext">Usecase title, <a style="color:white;"
                    href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#usecaseTitle"
                    target="_blank">Read more...</a></span>
              </div><span class="ibm-required"> *</span>
              <span class="ibm-textcolor-gray-40 ibm-small"> max 30 characters</span>

              <div>
                <input type="text" value="" class="exitOverlayWidth" id="uc-title" name="uc-title" maxlength="30"
                  spellcheck="true">
              </div>
              <span class="validationFontSize display-none" id='uc-titleError'>Title is
                required</span>
              <p>
                <div for="uc-desc" class="ibm-textcolor-green-60 tooltip">Usecase description
                  <span class="tooltiptext">Usecase description, <a style="color:white;"
                      href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#usecaseDescription"
                      target="_blank">Read more...</a></span>
                </div><span class="ibm-required"> *</span>
                <span class="ibm-textcolor-gray-40 ibm-small"> max 100 characters</span>

                <div>
                  <textarea rows="4" value="" class="exitOverlayWidth" id="uc-desc" name="uc-desc" maxlength="100"
                    spellcheck="true"></textarea>
                </div>
                <span class="validationFontSize display-none" id='uc-descError'>Description
                  is required</span>
              </p>

              <div for="uc-title" class="ibm-textcolor-green-60 tooltip">No of scene(s)
                <span class="tooltiptext">No of scene(s), <a style="color:white;"
                    href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#noOfScenes"
                    target="_blank">Read more...</a></span>
              </div><span class="ibm-required"> *</span>

              <div id='overlaySceneP'>
              </div>

              <div class="ibm-form-elem-grp paddingTop15" id='overLayImaP'>

                <div for="overlayImage" class="ibm-textcolor-green-60 tooltip">Usecase image
                  <span class="tooltiptext">Usecase image, <a style="color:white;"
                      href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#usecaseImage"
                      target="_blank">Read more...</a></span>
                </div><span class="ibm-required"> *</span>
              </div>
              <div id='overlayImageBrowseDiv'>
                <span>
                  <input id="overlayImage" type="file" data-multiple="false"
                    onchange="removeError('overLayImageError');" accept="image/*" style="display:none;" /><label
                    for="overlayImage" class="btn ibm-center">Browse</label><span style="margin-left:10px"
                    id="overlayImgNm"></span><span style="margin-left:10px" id="overlayImgError"></span>
                </span>
                <span class="validationFontSize display-none" id='overlayImageError'>Image
                  is required</span>
              </div>
              <div id='overlayImageAltDiv'>
                <div for="overlayImageAltText" class="ibm-textcolor-green-60 tooltip">Image alt text
                  <span class="tooltiptext">Image alt text, <a style="color:white;"
                      href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#usecaseImageAltText"
                      target="_blank">Read more...</a></span>
                </div>
                <span class="ibm-required"> *</span>
                <div>
                  <input type="text" value="" id="overlayImageAlt" name="overlayImageAlt" maxlength="50"
                    spellcheck="true" style='width:38em'>
                </div>
                <span class="validationFontSize display-none " id='overlayImageAltError'>Alt Text is required</span>
              </div>
              <div class="ibm-padding-top-1">

                <div for="exploreLink" class="ibm-textcolor-green-60 tooltip">Explore link name
                  <span class="tooltiptext">Explore link name, <a style="color:white;"
                      href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#exploreLinkName"
                      target="_blank">Read more...</a></span>
                </div><span class="ibm-required"> *</span>

                <div>
                  <input type="text" value="" id="exploreLink" name="exploreLink" maxlength="25" spellcheck="true"
                    placeholder="e.g. Learn more / Explore" style='width:38em'>
                </div>
                <span class="validationFontSize display-none " id='exploreLinkError'>Explore link name is
                  required</span>
              </div>
              <div class="ibm-padding-top-1">

                <div for="usecaseURL" class="ibm-textcolor-green-60 tooltip">Requested usecase URL name
                  <span class="tooltiptext">The name that is appended to the product folder, <a style="color:white;"
                      href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#usecaseUrlName"
                      target="_blank">Read more...</a></span>
                </div><span class="ibm-required"> *</span>
                <div>
                  <input type="text" value="" id="usecaseURL" name="usecaseURL" maxlength="50" spellcheck="true"
                    placeholder="e.g. .../usecasename" style='width:38em'>
                </div>
                <span class="validationFontSize display-none" id='usecaseURLError'>URL is required</span>
              </div>
            </div>

          </div>
        </form>

        <div class="ibm-fluid">
          <div class="ibm-col-12-12" align="right">
            <p class="ibm-btn-row ibm-button-link">
              <a href="javascript:;" id='overLayCancel'
                class="ibm-btn-sec ibm-btn-transparent ibm-btn-blue-50 cancelButton" style="margin:10px;"
                onclick="IBMCore.common.widget.overlay.hide('usecaseOverLay',true);">Cancel</a>

              <a href="javascript:;" id="overlaySave" class="ibm-btn-pri ibm-btn-blue-50 overlayButton blueBackground"
                type="submit" style="margin:10px;" onclick="overlayVal()">Save</a>
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="ibm-common-overlay" data-widget="overlay" id="confirmationOverlay">
      <p id="overlayMsg"></p>
      <a href="javascript:;" id="overlayOk" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit"
        onclick="IBMCore.common.widget.overlay.hide('overlayOk',true);">Ok</a>
    </div>

    <!-- FOOTER_BEGIN -->
    <footer role="contentinfo" aria-label="IBM">

    </footer>
    <!-- FOOTER_END -->
  </div>

</body>

</html>