<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />  
  <title>Fashion Spray</title>  

  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <script src="./js/common.js"></script>
  <script src="./js/order.js"></script>
  <script src="./js/request.js"></script>
  <script src="./js/constant.js"></script>
  <link href="./css/styles.css" rel="stylesheet">

</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
       
    <div class="ibm-col-12-12 headerFirst">
        <div style="padding-top:10px;padding-left:80px;">    
      <h2><span style="font-size:30px;font-weight: bold;">Fashion Spray</span></h2>    
  </div>
</div>

<div class="ibm-col-12-12 headerSecond" style="padding:10px;">    
        <span class="ibm-bold" style="padding-left: 80px;float:left;">Order Details : </span>
</div>

    
    <div id="ibm-content-wrapper">


      <form id="landingPageForm" class="ibm-row-form" action="javascript:void(0);">

          <div class=" ibm-col-12-12" style="padding-left:80px;">
              <div class=" ibm-col-12-5">
                 
                      <div for="customerName" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Customer Name
                        <span class="tooltiptext">Name of the customer who gave order</span>
                        <span class="ibm-required">*</span>
                      </div>
                      <div class="fieldPaddingTop">
                        <input type="text" value="" class="textFieldWidth" id="customerName" name="customerName" maxlength="50"
                          placeholder="Enter customer full name." onfocus="clearRedColor(this)">
                      </div>
                      <span class=" validationFontSize display-none" id='offerNameError'>Offering
                        Name is required</span>
                    
                    <div for="orderNumber" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Order Number
                        <span class="tooltiptext">Order number for the product.</span><span class="ibm-required">
                          *</span>
                      </div>
                      <div class="fieldPaddingTop">
                        <input type="text" class="textFieldWidth" value="" id="orderNumber" name="orderNumber" disabled maxlength="50"                  >
                      </div>
                      <span class="validationFontSize display-none" id='helpTextError'>Help Text is required</span>
                      <div for="mobileNumber" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Mobile Number
                          <span class="tooltiptext">Customer 10 digit mobile number</span><span class="ibm-required">
                            *</span>
                        </div>
                        <div class="fieldPaddingTop">
                          <input type="text" class="textFieldWidth" value="" id="mobileNumber" name="mobileNumber" maxlength="50"
                            placeholder="Enter customer mobile number" onfocus="clearRedColor(this)" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                        </div>
                        <span class="validationFontSize display-none" id='helpTextError'>Help Text is required</span>
                        <div for="customerLocation" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Location of customer
                            <span class="tooltiptext">From where customer came to our shop</span><span class="ibm-required">
                              *</span>
                          </div>
                          <div class="fieldPaddingTop">
                            <input type="text" value="" class="textFieldWidth" id="customerLocation" name="customerLocation"
                              maxlength="50" placeholder="Enter customer location" onfocus="clearRedColor(this)">
                          </div>
                          
                          <div for="customerSource" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Customer source
                              <span class="tooltiptext">How customer came to know about our shop</span><span class="ibm-required">
                                *</span>
                            </div>  
                            <div class="fieldPaddingTop">
                              <input type="text" value="" id="customerSource" name="customerSource" maxlength="50" spellcheck="true"
                                class="textFieldWidth" placeholder="Enter source of customer" onfocus="clearRedColor(this)">
                            </div>

                    
                  </div>
                  <div class=" ibm-col-12-3"> 
                                      
                      <div for="dressFor" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Dress For
                        <span class="tooltiptext">Type of person to whom this dress getting ready</span>
                      </div><span class="ibm-required"> *</span>
                      <div class="fieldPaddingTop">
                        <select name="dressFor" id="dressFor" style="width:180px;">
                          <option selected value="selectPerson">Select Person Type</option>
                          <option value="Women">Women</option>
                          <option value="Kids">Kids</option>
                          <option value="Men">Men</option>
                        </select>
                      </div>    
                      
                      <div for="totalAmount" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Total Amount
                          <span class="tooltiptext">Total amount for selected dress</span>
                          <span class="ibm-required">
                            *</span>
                        </div>
                        <div class="fieldPaddingTop">
                          <input type="text" class="fieldWidthSmall" id="totalAmount" name="totalAmount" value=""
                            placeholder="Enter total amount." onfocus="clearRedColor(this)" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                        </div>
                        <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                          required</span>

                          <div for="deliveryDate" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Delivery Date
                              <span class="tooltiptext">The date customer wants to deliver the dress.</span>
                              <span class="ibm-required">
                                *</span>
                            </div>
                            <div class="fieldPaddingTop">
                              <input type="text" value="" class="fieldWidthSmall" id="deliveryDate" name="deliveryDate"
                                spellcheck="true" placeholder="Choose delivery date" data-widget="datepicker"
                                data-format="mmm dd, yyyy" onfocus="clearRedColor(this)">
                            </div>
                            <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                              required</span>
                     
                              <div for="modeOfPayment" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Payment mode
                                  <span class="tooltiptext">In which mode customer paid the amount</span>
                                  <span class="ibm-required">
                                    *</span>
                                </div>
                                <div class="fieldPaddingTop">
                                  <input type="text" class="fieldWidthSmall" id="modeOfPayment" name="modeOfPayment" value=""
                                    placeholder="Enter payment type" onfocus="clearRedColor(this)">
                                </div>

                                <div for="typeOfCustomer" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Customer Type
                                  <span class="tooltiptext">Customer is new or existing?</span>
                                </div><span class="ibm-required"> *</span>
                                <div class="fieldPaddingTop">
                                  <select name="typeOfCustomer" id="typeOfCustomer" style="width:180px;">
                                    <option selected value="select">Select Customer Type</option>
                                    <option value="firstVisit">First Visit</option>
                                    <option value="secondVisit">Second Visit</option>
                                    <option value="repeated">Repeated</option>
                                    <option value="wellKnown">Well Known</option>
                                  </select>
                                </div>
                                
              </div>
              <div class=" ibm-col-12-3">
                  
                  <div id="dressTypeKids">
                      <div for="dressType" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Dress Type
                        <span class="tooltiptext">Type of dress selected by customer</span>
                      </div><span class="ibm-required"> *</span>
      
                      <div class="fieldPaddingTop">
                        <select name="dressType" id="dressType" disabled style="width:180px;">
                          <option selected value="selectType" disabled>Select Dress Type</option>
                        </select>
                      </div>
                    </div>

                    <div for="advanceAmount" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Advance Paid
                        <span class="tooltiptext">Total advance paid by customer</span>
                        <span class="ibm-required">
                          *</span>
                      </div>
                      <div class="fieldPaddingTop">
                        <input type="text" class="fieldWidthSmall" id="advanceAmount" name="advanceAmount" value=""
                          placeholder="Enter advance paid." onfocus="clearRedColor(this)" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                      </div>
                      

                        <div id="dressTypeKids">
                            <div for="deliveryTime" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Delivery time
                              <span class="tooltiptext">Time of the day in which product going to deliver.</span>
                            </div><span class="ibm-required"> *</span>
                            <div class="fieldPaddingTop">
                              <select name="deliveryTime" id="deliveryTime" style="width:180px;">
                                <option selected value="selectRange">Select Time Range</option>
                                <option value="10.30-11.30">10.30 - 11.30AM</option>
                                <option value="11.30-12.30">11.30 - 12.30PM</option>
                                <option value="12.30-01.30">12.30 - 01.30PM</option>
                                <option value="01.30-02.30">01.30 - 02.30PM</option>
                                <option value="02.30-03.30">02.30 - 03.30PM</option>
                                <option value="03.30-04.30">03.30 - 04.30PM</option>
                                <option value="04.30-05.30">04.30 - 05.30PM</option>
                              </select>
                            </div>
                          </div>
                         
                              <div for="fabricsFrom" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Fabrics from
                                <span class="tooltiptext">Who is going to provide fabrics?</span>
                              </div><span class="ibm-required"> *</span>
                              <div class="fieldPaddingTop">
                                <select name="fabricsFrom" id="fabricsFrom1" style="width:180px;">
                                  <option selected value="select">Select Dress Source</option>
                                  <option value="Fashion Spray">Fashion Spray</option>
                                  <option value="Customer">Customer Fabrics</option>
                                </select>
                              </div>

                              <div for="measureBy" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Measurement By
                                <span class="tooltiptext">Who took measurement of customer.</span>
                              </div><span class="ibm-required"> *</span>
                              <div class="fieldPaddingTop">
                                <select name="measureBy" id="measureBy" style="width:180px;">
                                  <option selected value="select">Select Person</option>
                                  <option value="pruthvishetty">Pruthvi Shetty</option>
                                  <option value="mastersahil">Master-Sahil</option>
                                  <option value="disha">Disha</option>
                                  <option value="tailor">Tailor</option>
                                </select>
                              </div>
                           
                          
                </div>
          </div>
                       
          <div class=" ibm-col-12-12" style="padding-left:80px;">

            <div for="orderNote" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Note and description of order.
              <span class="tooltiptext">Description about order.</span>
              <span class="ibm-required">
                *</span>
            </div>
            <div class="fieldPaddingTop">
              <textarea value="" rows="4" class="orderNote" id="orderNote" name="orderNote" maxlength="100"></textarea>
            </div>
          
          </div>
        

        <div class=" ibm-col-12-12 ibm-padding-top-1" style="padding-left:70px;padding-right:30px;">
          <div class="ibm-rule ibm-alternate ibm-gray-30">
            <hr>
          </div>
        </div>



        <div class=" ibm-col-12-12 display-none" style="padding-left:80px;" id="fabricDetailLabel">
        <div><span class="ibm-bold" style="float:left;">Fabrics Details : </span></div>
        </div>
        <div class=" ibm-col-12-12 display-none fieldPaddingTop" style="padding-left:80px;" id="addFabrics">
        
				
            <button id="Add">Add fabric details</button><p class="ibm-maximize-link" style="position: relative;color:grey;display: inline-block;margin-bottom:3px;"></p>
            <button id="Remove" style="margin-left:50px;">Remove fabric details</button><p class="ibm-maximize-link" style="position: relative;color:grey;display: inline-block;margin-bottom:3px;"></p> 
            
            
            <div id="textboxDiv">           
                <div>
            <div style="display: inline-block;">
                <div for="fabrics0" class="ibm-textcolor-green-60 tooltip">Type of fabric
                  <span class="tooltiptext">Type of fabric required.</span>
                  <span class="ibm-required">
                    *</span>
                </div>
                <div class="fieldPaddingTop">
                  <input type="text" class="fieldWidthSmall" id="fabrics0" name="fabrics0" value=""
                    placeholder="Enter type of fabric0." onfocus="clearRedColor(this)">
                </div>                
              </div>

              <div style="display: inline-block;margin-left:38px;">
                  <div for="advanceAmount" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Color
                    <span class="tooltiptext">Total advance paid by customer</span>
                    <span class="ibm-required">
                      *</span>
                  </div>
                  <div class="fieldPaddingTop">
                    <input type="text" class="fieldWidthSmall" id="advanceAmount" name="advanceAmount" value="" placeholder="Enter advance paid." onfocus="clearRedColor(this)">
                  </div>
                  <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                    required</span>
                </div>
                <div style="display: inline-block;margin-left:38px;">
                    <div for="advanceAmount" class="ibm-textcolor-green-60 ibm-padding-top-1 tooltip">Quantity
                      <span class="tooltiptext">Total advance paid by customer</span>
                      <span class="ibm-required">
                        *</span>
                    </div>
                    <div class="fieldPaddingTop">
                      <input type="text" class="fieldWidthSmall" id="advanceAmount" name="advanceAmount" value="" placeholder="Enter advance paid." onfocus="clearRedColor(this)">
                    </div>
                    <span class="validationFontSize display-none" id='marketPlaceUrlError'>Marketplace URL is
                      required</span>
                  </div>
</div>
            </div>
            
          </div>



        <div class="ibm-fluid">
          <div class="ibm-col-12-12" align="right">
            <p class="ibm-btn-row ibm-button-link" style="padding-right:5px;">
              <button class="buttonCancel cancelHover" onclick="window.open('/','_self');">Cancel</button>
              <button class="buttonusecaseGeneral" style="width: 150px;" onclick="saveOrder()">Save</button>
              <span id="loadingIndicator" class="ibm-spinner ibm-h2 visibility-hidden"></span>
            </p>
          </div>
        </div>
      </form>

      <div class="ibm-common-overlay" data-widget="overlay" id="confirmationOverlay">
          <p id="overlayMsg"></p>
          <a href="/" id="overlayOk" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit" onclick="IBMCore.common.widget.overlay.hide('overlayOk',true);">Ok</a>
  </div>

  
    </div>
    <div class="ibm-common-overlay" data-widget="overlay" id="confirmationOverlay">
      <p id="overlayMsg"></p>
      <a href="javascript:;" id="overlayOk" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit"
        onclick="IBMCore.common.widget.overlay.hide('overlayOk',true);">Ok</a>
    </div>

    <!-- FOOTER_BEGIN -->
    <footer role="contentinfo" aria-label="IBM">

    </footer>
    <!-- FOOTER_END -->
  </div>

</body>

</html>