<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />
  <title>showcase-editor</title>
  <!-- Initialize Northstar -->
  <script>
    digitalData = {
      page: {
        pageInfo: {
          ibm: {}
        }
      }
    };
  </script>
  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="//1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <script src="./js/common.js"></script>
  <script src="./js/usecase.js"></script>
  <link href="./css/styles.css" rel="stylesheet">
  <!-- Configurable Northstar options -->
  <script type="text/javascript">
    IBMCore.common.util.config.set({
      footer: {
        type: "alternate",
        socialLinks: {
          enabled: false
        }
      },
      masthead: {
        type: "popup"
      }
    });
  </script>
</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <div id="ibm-masthead" role="banner" aria-label="IBM">
      <div id="ibm-mast-options">
        <ul role="toolbar" aria-labelledby="ibm-masthead">
          <li id="ibm-geo" role="presentation">
            <a href="https://www.ibm.com/planetwide/select/selector.html">United States</a>
          </li>
        </ul>
      </div>
      <div id="ibm-universal-nav">
        <div id="ibm-home"><a href="https://www.ibm.com/us-en/">IBM®</a>
        </div>
        <div class="ibm-parent-site-name">
          <div class="dr-masthead-divider"></div><a class="dr-home ibm-type-d ibm-mb-0" href="/">Show Case Editor</a>
        </div>
        <!-- PARENT SITE NAME -->

        <ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
          <li><a href="https://www.ibm.com/sitemap/us/en/">Site map</a></li>
        </ul>
        <div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
          <form id="ibm-search-form" action="https://www.ibm.com/Search/" method="get">
            <p>
              <label for="q"><span class="ibm-access">Search</span></label><input type="text" maxlength="100" value=""
                name="q" id="q" /><input type="hidden" value="17" name="v" /><input type="hidden" value="utf"
                name="en" /><input type="hidden" value="en" name="lang" /><input type="hidden" value="us"
                name="cc" /><input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit" />
            </p>
          </form>
        </div>
      </div>
    </div>
    <div id="ibm-content-wrapper">
      <main role="main" aria-labelledby="ibm-pagetitle-h1">
      </main>
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-main">


            <!-- Heading -->
            <div class="ibm-fluid">
              <div class="ibm-col-12-12 heading">
                <p class="header-padding">Use cases</p>
              </div>
            </div>

            <!-- Page selection -->
            <div class="ibm-fluid">
              <div class="ibm-col-12-12 page-select">
                <nav role="navigation" aria-label="Breadcrumb">
                  <ul class="ibm-padding-top-1 ibm-padding-bottom-1" id="ibm-navigation-trail" itemscope=""
                    itemtype="//schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="//schema.org/ListItem"><a itemprop="item"
                        onClick="javascript:history.go(-1)"><span itemprop="name">Main Page Details</span></a>
                      <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="//schema.org/ListItem"><a itemprop="item"
                        href="/useCases"><span itemprop="name"><b>Usecase Details</b></span></a>
                      <meta itemprop="position" content="2">
                    </li>
                    <span id="loadigText">Usecase details loading...</span><span id="loadingIndicator"
                      class="ibm-spinner ibm-h3"></span>
                  </ul>
                </nav>
              </div>
            </div>

            <!-- Use Case Selection -->
            <div class="ibm-fluid" id="usecaseDiv">
            </div>

            <!-- Form 1 -->
            <form id="useCaseForm" class="ibm-row-form" method="post" action="/usecases"
              onsubmit="return useCaseForm()">
              <div id="usecasedetails"></div>

              <!-- Horizontal Line -->
              <div class="ibm-fluid">
                <div class="ibm-rule ibm-alternate ibm-gray-30">
                  <hr>
                </div>
              </div>

              <!-- left navigation -->
              <div class="ibm-fluid">
                <div data-widget="dyntabs" class="ibm-graphic-tabs ibm-vertical-tabs">
                  <!-- Tabs here: -->
                  <div class="ibm-columns">
                    <!-- Tabs inside a 4-1: -->
                    <div class="ibm-col-12-2 ibm-col-medium-5-2">
                      <div class="ibm-tab-section" id="scence"></div>
                    </div>
                    <!-- Tabs content body with tab contents divs inside a 4-3: -->
                    <div class="ibm-col-12-10 ibm-col-medium-5-3">
                      <div id="scenceDetails">
                      </div>

                      <div id="uc1SceneExit" class="ibm-tabs-content">



                        <!-- Overlay -->
                        <div id="offerOverlay">

                          <div class="ibm-common-overlay ibm-overlay-alt" data-widget="overlay" data-type="alert"
                            id="overlayExampleAlert">

                            <h1 class="ibm-bold">Offer details <span class="offerTileNo"></span></h1>

                            <div class="ibm-fluid">
                              <div class="ibm-col-12-12">

                                <p>
                                  <label for="Offer title" class="ibm-textcolor-green-60">Offer title<span
                                      class="ibm-required">*</span><span class="ibm-textcolor-gray-40 ibm-small"> max 30
                                      characters</span></label></br>
                                  <span>
                                    <input type="text" value="" size="42" id="offerTitle" name="offerTitle">
                                  </span>
                                <p class="redColorTxt display-none" id="overlayTitleError"></p>
                                </p>

                                <p>
                                  <label for="Offer description" class="ibm-textcolor-green-60">Offer description<span
                                      class="ibm-required">*</span><span class="ibm-textcolor-gray-40 ibm-small"> max
                                      150 characters</span></label></br>
                                  <textarea value="" rows="4" cols="40" id="offerDesc" name="offerDesc"
                                    required></textarea>
                                <p class="redColorTxt display-none" id="overlayDescError"></p>
                                </p>

                                <p>
                                  <label for="Offer URL" class="ibm-textcolor-green-60">Offer URL<span
                                      class="ibm-required">*</span></label></br>
                                  <span>
                                    <input type="text" value="" size="42" id="offerURL" name="offerURL">
                                  </span>
                                <p class="redColorTxt display-none" id="overlayUrlError"></p>
                                </p>


                              </div>

                            </div>

                            <div class="ibm-fluid">
                              <div class="ibm-col-12-12">
                                <p class="ibm-btn-row"><button id="overlaySave"
                                    class="ibm-btn-pri pg2-overlay-save ibm-btn-blue-50" style="float:right;"
                                    onclick="prepareOffer()">Save</button> <button
                                    class="ibm-btn-sec ibm-btn-transparent ibm-btn-blue-50" style="float:right" ;
                                    onclick="IBMCore.common.widget.overlay.hide('overlayExampleAlert',true);">Cancel</button>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Overlay  done-->
                      </div>

                    </div>
                  </div>
                </div>

                <!-- Footer -->
                <div class="ibm-fluid" id="footerButtons" style="display:none">
                  <div class="ibm-col-12-12 footer" align="right">
                    <p class="ibm-btn-row ibm-button-link">
                      <a href="#" class="ibm-btn-sec ibm-btn-transparent ibm-btn-blue-50" style="margin:10px;"
                        onclick="formReset()">Cancel</a>
                      <a href="#" onclick='previousPage()' class="ibm-btn-sec ibm-btn-white" type="submit"
                        style="margin:10px;">Prev - Main Page</a>
                      <a id="publishButton" href="#" class="ibm-btn-pri ibm-btn-blue-50" type="submit"
                        style="margin:10px;" onclick="useCaseFormValidation(this)">Publish ></a>
                    </p>
                  </div>
                </div>

                <!-- Done -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER_BEGIN -->
  <footer role="contentinfo" aria-label="IBM">
    <div id="ibm-footer">
      <h2 class="ibm-access">Footer links</h2>
      <ul>
        <li><a href="https://www.ibm.com/contact/us/en/">Contact</a></li>
        <li><a href="https://www.ibm.com/privacy/us/en/">Privacy</a></li>
        <li><a href="https://www.ibm.com/legal/us/en/">Terms of use</a></li>
        <li>
          <a href="https://www.ibm.com/accessibility/us/en/">Accessibility</a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- FOOTER_END -->
  </div>

</body>

</html>
