<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />
  <title>IBM QwikDemo Editor</title>
  <!-- Initialize Northstar -->
  <script>
    digitalData = {
      page: {
        pageInfo: {
          ibm: {}
        }
      }
    };
  </script>
  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="//1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <script src="/../js/common.js"></script>
  <script src="/../js/constant.js"></script>
  <script src="/../js/usecaseList.js"></script>
  <script src="/../js/request.js"></script>
  <link href="/../css/styles.css" rel="stylesheet">
  <!-- Configurable Northstar options -->
  <script type="text/javascript">
    IBMCore.common.util.config.set({
      footer: {
        type: "alternate",
        socialLinks: {
          enabled: false
        }
      },
      masthead: {
        type: "alternate"
      }
    });
  </script>
</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <div id="ibm-masthead" role="banner" aria-label="IBM">
      <div id="ibm-mast-options">
        <ul role="toolbar" aria-labelledby="ibm-masthead">
          <li id="ibm-geo" role="presentation">
            <a href="https://www.ibm.com/planetwide/select/selector.html">United States</a>
          </li>
        </ul>
      </div>
      <div id="ibm-universal-nav" style="padding-left:35px;">
        <div id="ibm-home"><a href="https://www.ibm.com/us-en/">IBM®</a>
        </div>
        <div class="ibm-parent-site-name">
          <div class="dr-masthead-divider"></div><a class="dr-home ibm-type-d ibm-mb-0" href="/">IBM QwikDemo Editor</a>
        </div>
      </div>
    </div>
    <div id="ibm-content-wrapper">
      <div class="ibm-fluid">
        <div class="ibm-col-12-6 ibm-padding-top-1" style="padding-left:45px;">

          <div class=" ibm-col-12-5">
            <span class="ibm-input-group ibm-radio-group">
              <input id="useCaseMulti" name="useCaseSelect" type="radio" checked value="multi" onclick="mutipleUseCase();" /> <label class="headerLabelFont" for="useCaseMulti">Multiple Usecases</label>
          </div>

          <div class=" ibm-col-12-7">
            <input id="useCaseSingle" name="useCaseSelect" type="radio" value="single" onclick="singleUseCase();" />
            <label class="headerLabelFont" for="useCaseSingle">Single Usecase</label>
            </span>
          </div>
        </div>
      </div>

      <div class="ibm-fluid">
        <div class="ibm-col-12-12 page-select">
          <div class=" ibm-col-12-6">

            <div><span class="ibm-padding-top-1 " style="padding-left: 40px;float:left;">Main Page
                Details</span></div>
            <div><span class="ibm-chevron-right-light-link ibm-textcolor-gray-30" style="position: relative;padding-left: 30px;padding-top: 17px;float:left"></span></div>
            <div class="ibm-padding-top-1 ibm-bold" style="float:left"><span>Usecase Details</span></div>
          </div>

          <div class="ibm-right ibm-col-12-6 ibm-padding-top-1"><span class="ibm-textcolor-gray-30">Status</span><span class="ibm-bold">: Draft</span>
          </div>
        </div>
        <span id="landingPageErrors"></span>
        <p id="invalidUrl" class="validationFontSize display-none"></p>
        <p id="minUCError" class="validationFontSize display-none"></p>
        <p id="ucCardError" class="validationFontSize display-none"></p>
        <p id="ucValError" class="validationFontSize display-none"></p>
      </div>
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-main">

            <!-- Use Case Selection -->
            <div class="ibm-fluid" id="usecaseDiv" style="padding-left:70px;">
            </div>
            <!-- Form 1 -->
            <form id="useCaseForm" class="ibm-row-form" action="javascript:void(0);">
              <div id="usecasedetails" style="padding-left:50px;"></div>

              <!-- Horizontal Line -->
              <div class="ibm-fluid" id="horizLine">
                <div class="ibm-rule ibm-alternate ibm-gray-30">
                  <hr>
                </div>
              </div>

              <!-- left navigation -->
              <div class="ibm-fluid">
                <div data-widget="dyntabs" class="ibm-graphic-tabs ibm-vertical-tabs">
                  <!-- Tabs here: -->
                  <div class="ibm-col-12-12">
                    <!-- Tabs inside a 4-1: -->
                    <div class="ibm-col-12-2 ibm-col-medium-5-2">
                      <div class="ibm-tab-section" id="scence" style="padding-left:40px;"></div>
                    </div>
                    <!-- Tabs content body with tab contents divs inside a 4-3: -->
                    <div class="ibm-col-12-10 ibm-col-medium-5-3">
                      <div id="scenceDetails">
                      </div>

                      <div id="uc1SceneExit" class="ibm-tabs-content">
                      </div>
                    </div>
                  </div>

                  <div class=" ibm-col-12-12 ibm-padding-top-3">
                    <div class="ibm-rule ibm-alternate ibm-gray-30">
                      <hr>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Footer -->
              <div class="ibm-fluid" id="footerButtons" style="display:none">
                <div class="ibm-col-12-12" align="right">
                  <p class="ibm-btn-row ibm-button-link">
                    <button class="buttonCancel cancelHover" onclick="window.open('/','_self');">Cancel</button>
                    <button class="buttonusecaseGeneral" style="width: 150px;" onclick="saveDraft()">Save</button>
                    <button class="buttonusecaseGeneral" style="width: 280px;"><span class="ibm-chevron-left-light-link"></span><span onclick="getPreviousPageDetails()">Prev - Main page</span></button>
                    <button class="buttonusecaseGeneral" onclick="showViewer()" style="width: 150px;" >Preview</button>
                    <button class="buttonusecase buttonusecaseGeneral"><span style="padding-left:20px;" onclick="validateUsecases()">Send
                        for review</span></button>
                    <span id="ucLoadingIndicator" class="ibm-spinner ibm-h2 display-none"></span>
                  </p>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>


      <div class="ibm-common-overlay ibm-overlay-alt-two" data-widget="overlay" data-type="alert" id="overlayOffer">

        <form id="overlayForm" class="ibm-row-form">
          <div class="ibm-columns ">
            <div class="ibm-col-12-12 ">
              <h1 class="ibm-bold ibm-h4">Offer <span id="tileNo"></span> details <span class="offerTileNo"></span></h1>


              <div for="Offer title" class="ibm-textcolor-green-80 overlayTooltip">Offer title
                <span class="overlayTooltiptext">Offer title, <a style="color:white;" href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#offerTitle" target="_blank">Read more...</a></span>
              </div><span class="ibm-required"> *</span>

              <div>
                <input type="text" value="" class="exitOverlayWidth" id="offerTitle" name="offerTitle" spellcheck="true" maxlength="30">
              </div>
              <p class="validationFontSize display-none" id="offerTitleError">Title is required</p>

              <div class="ibm-padding-top-1">
                    <div for="Offer description" class="ibm-textcolor-green-80 tooltip">Offer description                      
                      <span class="tooltiptext">Offer description, <a style="color:white;" href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#offerDescription" target="_blank">Read more...</a></span>
                  </div><span class="ibm-required"> *</span>

                <div><textarea value="" rows="4" class="exitOverlayWidth" id="offerDesc" name="offerDesc" spellcheck="true" maxlength="100"></textarea></div>
                <p class="validationFontSize display-none" id="offerDescError">Description is required</p>
              </div>
                <div class="ibm-padding-top-1">
                    <div for="Offer link" class="ibm-textcolor-green-80 tooltip">Offer link name
                      <span class="tooltiptext"></span>
                      <span class="tooltiptext">Offer link name, <a style="color:white;" href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#offerLinkName" target="_blank">Read more...</a></span>
                  </div><span class="ibm-required"> *</span>
                <div>
                  <input type="text" value="" class="exitOverlayWidth" id="offerLinkName" name="offerLinkName" spellcheck="true" maxlength="25">
                </div>
                <p class="validationFontSize display-none" id="offerLinkNameError">Link name is required</p>
              </div>
              
              <p class="ibm-form-elem-grp ibm-padding-top-1">
        
        <span class="ibm-input-group ibm-radio-group">
            <input id="linkUC" name="radiogrp2" type="radio" value="A" onclick="offerUsecase()"/> <label for="Link Usecase">Link Usecase</label>
            
            <input id="linkURL" name="radiogrp2" type="radio" value="B" onclick="offerLink()"/> <label for="Link URL">Link URL</label>
        </span>
    </p>

              <div class="ibm-padding-top-0">
              <div id="offerLink" class="display-none">
               <div for="Offer Usecase" class="ibm-textcolor-green-80 tooltip">Link Usecase                
                <span class="tooltiptext">Link Usecase, <a style="color:white;" href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#offerLinkUrl" target="_blank">Read more...</a></span>
            </div><span class="ibm-required"> *</span>
                <div id='usecaseDropdown'>
              </div>
              </div>
              <div id="offerUrl" class="display-none">
              <div for="Offer URL" class="ibm-textcolor-green-80 tooltip ibm-padding-top-1">Link URL                
                <span class="tooltiptext">Link URL, <a style="color:white;" href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#offerLinkUrl" target="_blank">Read more...</a></span>
            </div><span class="ibm-required"> *</span>
              <div>
                <input type="text" value="" class="exitOverlayWidth" id="offerURL" name="offerURL">
                <p class="ibm-external-link" style="position: relative;color:grey;display: inline-block;"></p>
              </div>
              <p class="validationFontSize display-none" id="offerURLError">URL is required</p>
                <span></span><input disabled type="checkbox" id="external" name="external" value="external" ><div for="external" class="ibm-textcolor-green-80 tooltip">External                
                <span class="tooltiptext">External, <a style="color:white;" href="https://github.ibm.com/dwedge/demo-container-planning/blob/master/guidance.md#offerExternal" target="_blank">Read more...</a></span>
            </div>
                </div>
            </div>
              <br>
            </div>

          </div>
        </form>

        <div class="ibm-fluid">
          <div class="ibm-col-12-12" align="right">
            <p class="ibm-btn-row ibm-button-link">
              <a href="javascript:;" id='overLayCancel' class="ibm-btn-sec ibm-btn-transparent ibm-btn-blue-50 cancelButton" style="margin:10px;" onclick="IBMCore.common.widget.overlay.hide('overlayOffer',true);">Cancel</a>

              <a href="javascript:;" id="overlaySave" class="ibm-btn-pri pg2-overlay-save ibm-btn-blue-50 overlayButton blueBackground" type="submit" style="margin:10px;" onclick="prepareOffer()">Save</a>
            </p>
          </div>
        </div>

      </div>

    </div>
    <div class="ibm-common-overlay" data-widget="overlay" id="confirmationOverlay">
        <p id="overlayMsg"></p>
        <a href="javascript:;" id="overlayOk" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit" onclick="IBMCore.common.widget.overlay.hide('overlayOk',true);">Ok</a>
</div>
    <!-- FOOTER_BEGIN -->
    <footer role="contentinfo" aria-label="IBM">
      <div id="ibm-footer">
      </div>
    </footer>
    <!-- FOOTER_END -->
  </div>

</body>

</html>
