<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />

  <title>Fashion Spray</title>
  <!-- Initialize Northstar -->
  <script>
    digitalData = {
      page: {
        pageInfo: {
          ibm: {}
        }
      }
    };
  </script>
  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="//1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/tables.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/constant.js"></script>
  <script src="./js/welcome.js"></script>
  <script src="./js/request.js"></script>
  <link href="./css/styles.css" rel="stylesheet">
  <!-- Configurable Northstar options -->
  <script type="text/javascript">
    IBMCore.common.util.config.set({
      footer: {
        type: "alternate",
        socialLinks: {
          enabled: false
        }
      },
      masthead: {
        type: "popup"
      }
    });
  </script>
</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <div id="ibm-content-wrapper">
	
	
	


<div class="ibm-col-12-12" style="width: 100%;height:100px;border: 1px solid #4CAF50;background-color:grey;">
<div class="ibm-col-12-6">
 <div style="padding-left:60px;"><a href="/"><img src="./images/logo.png" alt="Fashion Spray" width="50" height="50"></div><div><span style="font-size: 25px;color: black;">Fashion Spray</span></div></a>
 </div>
 <div class="ibm-col-12-6">
 <span id="createDemo"></span>  
 </div>
	
	</div>
      <div class="ibm-col-12-6"> 
          <div id="demoLoadingMessage" class='loadMessagePadding'>
            <p><span class='loadMessageFont'>Demo lists are loading, please wait...</span><span class='ibm-spinner ibm-h4'></span></p>
          </div>
        <div class="ibm-h2" style="font-size:20px;color:#161616;padding:20px 0px 20px 40px;"></span><span class="prodCount "></span>
          
        </div>
      </div>
      <div class="ibm-col-12-6">
        <div class="ibm-fright" style="padding:20px 40px 20px 0px;">
          <img class="notificationDropdown display-none" src="/images/notification.svg" onclick="notificationToggle()" width="30" height="30">
          <div class="count display-none"></div>
          <ul style='display:none;' class='ibm-dropdown-menu notificationList'>
          </ul>
        </div>

      </div>
    </div>
    <div id='table' style="padding:50px"></div>
  </div>


  
  <!-- Overlay -->
  <div id="offerOverlay">

    <div class="ibm-common-overlay ibm-overlay-alt" data-widget="overlay" id="commentOverlay">
    </div>

    <div class="ibm-common-overlay ibm-overlay-alt" data-widget="overlay" id="deleteOverlay">
    </div>

    <div class="ibm-common-overlay ibm-overlay-alt" data-widget="overlay" id="rejectOverlay">
    </div>

    <div class="ibm-common-overlay ibm-overlay-alt" data-widget="overlay" id="approveOverlay">
    </div>
  </div>
    <div class="ibm-common-overlay" data-widget="overlay" id="confirmationOverlay">
        <p id="overlayMsg"></p>
        <a href="javascript:;" id="overlayOk" class="ibm-btn-pri ibm-btn-blue-50 okButton" type="submit" onclick="IBMCore.common.widget.overlay.hide('overlayOk',true);">Ok</a>
</div>

  <!-- FOOTER_BEGIN -->
  <footer role="contentinfo" aria-label="IBM">
    <div id="ibm-footer">
      <h2 class="ibm-access">Footer links</h2>
      <ul>
        <li><a href="https://www.ibm.com/contact/us/en/">Contact</a></li>
        <li><a href="https://www.ibm.com/privacy/us/en/">Privacy</a></li>
        <li><a href="https://www.ibm.com/legal/us/en/">Terms of use</a></li>
        <li>
          <a href="https://www.ibm.com/accessibility/us/en/">Accessibility</a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- FOOTER_END -->


</body>

</html>
