<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index, follow" />
  <title>Fashion Spray</title>

  <script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v19a/css/www.css" rel="stylesheet" />
  <script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="https://1.www.s81c.com/common/v19a/js/www.js"></script>
  <link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
  <link href="//1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet" />
  <link href="https://1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet">
  <script src="https://1.www.s81c.com/common/v18/js/tables.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/constant.js"></script>
  <script src="./js/welcome.js"></script>
  <script src="./js/request.js"></script>
  <link href="./css/styles.css" rel="stylesheet">
</head>

<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <div class="ibm-col-12-12 headerFirst">
      <div style="padding-top:10px;padding-left:80px;">    
    <h2><span style="font-size:30px;font-weight: bold;">Fashion Spray</span></h2>    
</div>

</div>

<div class="ibm-col-12-12 headerSecond" style="padding:10px;">
  <div class="ibm-col-12-6">    
      <span class="ibm-bold" style="padding-left: 80px;float:left;">Order table : </span>
    </div>
    <div class="ibm-col-12-3">    
      
  </div>
  <div class="ibm-col-12-3">    
    <div><button  onclick="location.href = '/add';" class="createOrder ibm-btn-small" style="width: 150px;" >Create Order</button></div>
</div>
</div>
    <div id="ibm-content-wrapper">

      <div class="ibm-col-12-6">
          <div id="demoLoadingMessage" class='loadMessagePadding'>
            <p><span class='loadMessageFont'>Demo lists are loading, please wait...</span><span class='ibm-spinner ibm-h4'></span></p>
          </div>
        <div class="ibm-h2" style="font-size:20px;color:#161616;padding:20px 0px 20px 40px;"></span><span class="prodCount "></span>
          
        </div>
      </div>

    </div>
    <div id='table' style="padding:50px"></div>
  </div>


  
  

  


</body>

</html>
